.contactContainer {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}


.contactContainer h2 {
    font-size: 3rem;
}

.sharkAnimation {
    animation: sharkAnimation 5s infinite;
}

@keyframes sharkAnimation {
    0%, 100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
}