.container{
  position: relative;
  width: 100%;
}


.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}



.clublogo{
  position: absolute;
  bottom: 3%;
  left: 110px;
  z-index: 5;
  opacity: 0.8;
  width: 200px;
  height: auto;
}



.chatbubble{
  position: absolute;
  top: 40%;
  left: 30%;
  opacity: 95%;
  z-index: 5;
}

.logoo{
  position: absolute;
  top: 22%;
  left: 25px;
  z-index: 5;
  width: 450px;
  height: auto;
}


