.top {
  position: absolute;
  width: 100%;
  height: 100vh;

  background: rgb(120, 212, 245);
  background: linear-gradient(
    128deg,
    rgba(255, 241, 205, 1) 0%,
    rgba(245, 121, 177, 1) 33%,
    rgba(232, 172, 201, 1) 66%,
    rgba(255, 241, 205, 1) 100%
  );
  -webkit-mask: url(https://i.imgur.com/Bis0brJ.png) center/cover no-repeat,
    linear-gradient(#fff 0 0); /* we need this extra layer for mask-composite */
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.middle {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(151, 208, 206);
  background: linear-gradient(
    158deg,
    rgba(151, 208, 206, 1) 0%,
    rgba(217, 149, 187, 1) 40%,
    rgba(151, 208, 206, 1) 100%,
  );
  -webkit-mask: url(https://i.imgur.com/JUNU1hn.png) center/contain no-repeat,
    linear-gradient(#fff 0 0); /* we need this extra layer for mask-composite */
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.bot {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(54, 125, 184);
  background: linear-gradient(
    5deg,
    rgba(54, 125, 184, 1) 0%,
    rgba(137, 184, 231, 1) 40%,
    rgba(135, 183, 230, 1) 50%,
    rgba(72, 141, 198, 1) 100%
  );
  -webkit-mask: url(https://i.imgur.com/tHRRLcH.png) center/contain no-repeat,
    linear-gradient(#fff 0 0); /* we need this extra layer for mask-composite */
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.floor {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgb(54, 125, 184);
  background: linear-gradient(
    5deg,
    rgba(54, 125, 184, 1) 0%,
    rgba(137, 184, 231, 1) 40%,
    rgba(135, 183, 230, 1) 50%,
    rgba(72, 141, 198, 1) 100%
  );
  -webkit-mask: url(https://i.imgur.com/Vg4vGxk.png) center/contain no-repeat,
    linear-gradient(#fff 0 0); /* we need this extra layer for mask-composite */
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}


.logo{
  position:absolute;
  width:100%;
  height:100%;
  background-image: url("https://i.imgur.com/jnrQBTr.png");
  background-repeat:no-repeat;
  background-position: center,left;
}
.tidepool {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/bYx3S5h.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center,left;
}

.wave {
  position: absolute;
  width: 200%;
  height: 100%;
  opacity: 0.125;
  filter: saturate(0.7);
  background-image: url("https://i.imgur.com/QbNQXJK.png");
  background-repeat: repeat;
  animation: move-wave 20s linear infinite;
}

@keyframes move-wave {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-512px, 0);
  }
}