@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.sticky{
    position: sticky;
    z-index: 50;
    position: -webkit-sticky; /* For Safari */
    border-radius: 50px;
}

.nav{
    display: flex;
    justify-content: center; /* Center flex items horizontally */
    align-items: center;
    position: fixed;
    top: 20px;
    left: 0; /* Add this */
    right: 0; /* Add this */
    padding: 0.7rem 2rem;
    width: 60%;
    background-color: rgba(249, 186, 255, 0.9); /*Solid pink color*/
    color: #7275B6;
    border-radius: 50px;
    z-index: 50;
}

.logo{
    display: block;
}

.logoNone{
    display: none;
}

.containerNav{
    flex-direction: column;
    align-items: start;
}

.menuNav{
    display: none;
    flex-direction: column;
    width: max-content;
    margin-bottom: 0.25rem;
}

.menuNavopen{
    justify-content: flex-start;
    display: flex;
}

.ulist{
    display: flex; /* Make sure the list is always flex to keep items in line */
}

.sublist{
    background-color:rgba(249, 186, 255, 0.8) ;
    z-index: 999;
}

.menuBtn{
    justify-content: flex-start;
    cursor: pointer;
}

@media screen and (max-width: 425px){
    .nav{ 
        display: flex;
        justify-content: flex-start;
        width: 100vw; /* Adjust width for mobile */
        background-color: rgba(249, 186, 255, 1);
    }

    .menu-horizontal{
        display: none;
    }
}


@media screen and (min-width: 1000px){

    .nav{
        display: flex;
        justify-content: center;
        font-size: 1.2rem;
        left: 0; /* Ensure full width */
        right: 0; /* Ensure full width */
        margin: auto; /* Center horizontally */
    }

    .menuNav{
        display: inline-flex;
        flex-direction: row;
        width: max-content;
        margin-bottom: 0.25rem;
    }

    .ulist{
        display: flex;
     }
 
    .containerNav{
        flex-direction: row;
    }
 
    .menuNav{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
 
    .menuBtn{
        display: none;
    }
}

@media screen and (min-width: 1400px){
    .nav{
       display: flex;
       justify-content: center;
       font-size: 1.5rem;
       left: 0; /* Ensure full width */
       right: 0; /* Ensure full width */
       margin: auto; /* Center horizontally */
    }

    .ulist{
       display: flex;
    }

   .containerNav{
       flex-direction: row;
   }

   .menuNav{
       display: flex;
       flex-direction: row;
       width: 100%;
   }

   .menuBtn{
       display: none;
   }

   .logo{
    display: block;
    }

    .logoNone{
        display: block;
    }
}


