@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');






.nav{
    display: flex;
    justify-content: flex-start;
    position: fixed;

    top:0;
    right: -50px;

    width: max(50vw);
    padding: 0.7rem 2rem;
    /* right: -10em; */
    margin: 20px 100px;
    opacity: 0.9;
    border-radius: 50px;
    z-index: 50;
    box-shadow: -10px 10px #41414b;

    /* position: fixed;
    top: 0; */
}



.containerNav{
    flex-direction: column;
    align-items: start;
}

.menuNav{
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    
}

.menuNavopen{
    justify-content: flex-start;
    display: flex;
}

.ulist{
    /* display: none; */
    /* color: black;   */
}



.ulist.open{
    display: flex;
}



.sublist{
    /* color: purple; */
    z-index: 999;
}

/* .navopen{
    justify-content: flex-start;
} */

.menuBtn{
    justify-content: flex-start;
    cursor: pointer;
}



@media (max-width: 425px){
    .nav{ 
        width: 70vw;  
    }
}


@media (min-width: 1400px){
     .nav{
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        margin: 20px 300px;
     }

     .ulist{
        display: flex;
     }

    .containerNav{
        flex-direction: row;
        /* align-items: start; */
    }
    
    .menuNav{
        display: flex;
        flex-direction: row;
        width: 100%;
        
    }

    .menuBtn{
        display: none;
    }
    
}






  
