@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.sticky{
    position: sticky;
    z-index: 50;
    position: -webkit-sticky;
    border-radius: 50px;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20%;
    right: 0%;
    padding: 0.7rem 2rem;
    width: 60%;
    background-color: #CEDDFF;
    color: #7E76B1;
    border-radius: 50px;
    z-index: 50;
    font-size: 0.9rem;
}

.logo{
    display: none;
}

.logoNone{
    display: none;
}

.containerNav{
    flex-direction: column;
    align-items: start;
}

.menuNav{
    display: none;
    flex-direction: column;
    width: max-content;
    margin-bottom: 0.25rem;
}

.menuNavopen{
    justify-content: flex-start;
    display: flex;
}

.ulist{
    display: flex;
}

.sublist{
    background-color: #CEDDFF;
    z-index: 999;
}

.menuBtn{
    justify-content: flex-start;
    cursor: pointer;
}

.menu-horizontal{
    display: none;
    width: max-content;
    flex-direction: row;
}

@media screen and (min-width: 1000px){

    .nav{
        display: flex;
        justify-content: center;
        font-size: 1rem;
        left: 0;
        right: 0;
        margin: auto;
    }

    .menuNav{
        display: inline-flex;
        flex-direction: row;
        width: max-content;
        margin-bottom: 0.25rem;
    }

    .ulist{
        display: flex;
     }
 
    .containerNav{
        flex-direction: row;
    }
 
    .menuNav{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
 
    .menuBtn{
        display: none;
    }

    .menu-horizontal{
        display: inline-flex;
        width: max-content;
        flex-direction: row;
    }
}

@media screen and (min-width: 1400px){
    .nav{
       display: flex;
       justify-content: center;
       font-size: 1.2rem;
       left: 0;
       right: 0;
       margin: auto;
    }

    .ulist{
       display: flex;
    }

   .containerNav{
       flex-direction: row;
   }

   .menuNav{
       display: flex;
       flex-direction: row;
       width: 100%;
   }

   .menuBtn{
       display: none;
   }

   .logo{
    display: none;
    }

    .logoNone{
        display: none;
    }
    .menu-horizontal{
        display: inline-flex;
        width: max-content;
        flex-direction: row;
    }
}
