@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
  }
  
  .title {
    text-align: center;
    color: #444;
    font-size: 2rem;
    margin-bottom: 20px;
    
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between elements */
  }
  
  .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    resize: none; /* Prevent resizing */
    background-color: #f9f9f9;

  }
  
  .button {
    background-color: #e7aaf8; /* Button background */
    color: white; /* Button text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px 15px; /* Button padding */
    font-size: 1rem;
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for background color */
  }
  
  .button:hover {
    background-color: #e7aaf8; /* Darker shade on hover */
  }
  
  .responseContainer {
    margin-top: 20px; /* Space above the response section */
    padding: 15px;
    background-color: #e7e7e7; /* Light grey background */
    border-radius: 5px; /* Rounded corners */
  }
  
  .responseTitle {
    color: #444; /* Title color */
    font-size: 1.5rem; /* Title font size */
    margin-bottom: 10px; /* Space below title */
  }
  
  .response {
    color: #333; /* Text color */
    line-height: 1.5; /* Spacing between lines */
  }