.pillarsContainer {
    padding: 10% 5%;
    text-align: center;
}

.pillarsBox {
    background-color: #FDBBD9;
    border-radius: 20px;
    border: 5px solid #F26EAC;
    padding: 30px;
    width: 400px;  /* Set a fixed width */
    height: 300px; /* Set a fixed height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

