
.prizesContainer {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;

}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-15%) rotate(-3deg);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    25%,75%{
        transform: rotate(3deg);
    }

    50% {
        transform: translateY(15%) rotate(-3deg);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}