.container {
  position: relative;
  min-height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.heading {
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  align-self: flex-start;
  width: 100%;
}

.heading2 {
  font-size: 18px;
  font-weight: bold;
  color: #3a3a3a;
  margin-bottom: 10px;
  align-self: flex-start;
  width: 100%;
}

.form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 3;
}

.imgContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto; /* Center the image horizontally */
}

.imgContainer img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.inputGroup {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #D3D3D3;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: #333;
}

.submitButton {
  background-color: #e64c96c2;
  color: #FFF;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  margin-top: 15px;
}

.submitButton:hover {
  background-color: #A594FF;
}

.loginLink {
  margin-top: 10px;
  color: #FF69B4;
  font-size: 16px;
  text-decoration: none;
}

.loginLink:hover {
  text-decoration: underline;
}

.sharkImage {
  position: absolute; /* Position the shark image absolutely relative to the container */
  bottom: 0; /* Stick the image to the bottom */
  left: 0; /* Stick the image to the left */
  width: 300px; /* Adjust the size of the shark */
  z-index: 0; /* Ensure the shark stays behind the form */
}

.inputGroupWithIcon {
  position: relative;
  width: 100%;
}

.inputGroupWithIcon .icon {
  position: absolute;
  top: 36%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #333;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.errorIcon, .successIcon {
  margin-right: 10px;
  font-size: 20px;
}
