@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.designCommittee { background-color: #F26EAC; }
.websiteCommittee { background-color: #EB9AC1; }
.sponsorshipCommittee { background-color: #FDBBD9; }

.teamContainer {
  padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
}

.teamHeading {
    color: #45494C;  
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-weight: 800;
    padding-bottom: 40px;
  }

  .teamSubHeading {
    color: #FAFEF7;  /* CODE USED FROM FIGMA (OFF-WHITE) */
    font-family: 'Sora', sans-serif;
    text-align: center;
    font-size: 1.70rem; 
    font-weight: 800;
    border-radius: 40px;
    padding: 5px 30px;
    width: max-content;
    margin: 0 auto;
  }


.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.profilePic {
  width: 20vw; /* minimize imge when window gets smaller */
  height: 20vw; /* minimize imge when window gets smaller */
  object-fit: cover;
  border-radius: 50%;
  max-width: 200px; /* image does not grow beyond 300px */
  max-height: 200px; /* image does not grow beyond 300px */
}

.profileName {
  color: #0F516F;
  text-align: center;
  font-size: 0.80rem; 
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 10px;
  min-width: 150px; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profileRole {
  color:#FAFEF7;
  text-align: center;
  font-size: 0.70rem; 
  font-weight: 700;
  border-radius: 40px;
  padding: 5px 20px;
  
}

.memberContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px; 
  justify-content: center; 
  width: 100%;
}

.committeeHeading {
  padding-top: 60px; 
}
